.for-li-align{
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.header-logo{
    width: 80px;
}
.nav-menus-wrapper{
    margin-top: 1.6%;
}
.nav-menu>li>a{
    font-size: 17px;
}
.nav-menu>.active>a, .nav-menu>.focus>a, .nav-menu>li:hover>a {
    color: #02a2d2 !important;
}
.theme-cl {
    color: #02a2d2 !important;
}
.nav-menu.nav-menu-social>li.add-listing, .theme-bg {
    background: #00225f !important;
}
.nav-menu.nav-menu-social>li.add-listing:hover{
    background: #02a2d2 !important;
}
.nav-menu.nav-menu-social>li.add-listing i, .mobile_nav .embos_45 i {
    background: rgb(2 162 210 / 79%);
}

.nav-toggle:before {
    background-color: #00225f;
    box-shadow: 0 .5em 0 0 #02a2d2, 0 1em 0 0 #00225f;
}
.top-header{
    background-color: #00225f;
    height: 33px;
    padding: 6px;
}


@media(max-width:768px){
    .header-logo {
        width: 50px;
    }
}

.activeInMob{
    display: none !important;
}

.activeInDes{
    display: block !important;
}

@media (max-width:500px) {
    .activeInMob{
        display: block !important;
    }
    .activeInDes{
        display: none !important;
    }
}